<div class="flex flex-row mx-4 justify-between" *ngIf="taskHandler.getIndexItem() === -1">

  <!-- Selettore filtro per ricerca -->
  <mat-form-field class="w-2/3">
    <mat-label>Show</mat-label>
    <mat-select [(ngModel)]="filterOption">
      <mat-option value="all">All</mat-option>
      <mat-option value="completed">Completed</mat-option>
      <mat-option value="pending">Pending</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Contatore -->
  <div class="flex justify-center items-center">
    <p class="flex justify-center items-center inline-block text-xl font-mono text-sky-600 bg-sky-600 rounded-full text-white py-1 px-3"># {{ taskHandler.getCounter(filterOption) }}</p>
  </div>
</div>

<!-- Gestione e visualizzazione lista attività -->
<ul 
  class="flex flex-col mx-4 py-2 pl-2 pr-4 rounded-md max-h-[60vh] overflow-y-auto overflow-x-hidden"
  [class.pointer-events-none]="taskHandler.getIndexItem() !== -1"
  [class.bg-gray-600]="taskHandler.getIndexItem() !== -1"
  [class.pointer-events-auto]="taskHandler.getIndexItem() === -1"
  [class.bg-sky-700]="taskHandler.getIndexItem() === -1"
  *ngIf="taskHandler.getCounter(filterOption) !== 0 && taskHandler.getIndexItem() === -1">
  <li 
    *ngFor="let item of taskHandler.getFilteredItems(filterOption); index as i;"
    class="flex w-full items-center bg-sky-600 m-1 p-2 rounded-md hover:cursor-pointer"
    [class.bg-gray-500]="item.completed && i !== taskHandler.getIndexItem()"
    [class.bg-sky-400]="i === taskHandler.getIndexItem()">
    <input
      class="h-6 w-6 text-3xl"
      type="checkbox"
      (click)="taskHandler.updateStatus(item.id, item.completed)"
      [(ngModel)]="item.completed">
    <span 
      class="flex-grow ml-4 text-2xl font-sans font-light text-white"
      [class.line-through]="item.completed"
      (click)="taskHandler.setIndexItem(item.id)">{{ item.name }}</span>
    <button (click)="taskHandler.removeItem(item.id)">
      <mat-icon class="text-2xl text-sky-200" fontIcon="delete"></mat-icon>
    </button>
</ul>