<mat-form-field>
  <mat-label>Show</mat-label>
  <mat-select [(ngModel)]="filterOption">
    <mat-option value="all">All</mat-option>
    <mat-option value="completed">Completed</mat-option>
    <mat-option value="pending">Pending</mat-option>
  </mat-select>
</mat-form-field>

<div>
  <p>Items found: {{ taskHandler.getCounter(filterOption) }}</p>
</div>

<ul>
  <li *ngFor="let item of taskHandler.getFilteredItems(filterOption); index as i;" (click)="taskHandler.setIndexItem(item.id)">
    <input type="checkbox" [(ngModel)]="item.completed">
    <span>{{ item.name }}</span>
    <button (click)="taskHandler.removeItem(item.id)"><mat-icon class="text-2xl text-zinc-600" fontIcon="delete"></mat-icon></button>
    <!-- <button *ngIf="taskHandler.indexSelectedItem === i" (click)="taskHandler.openDetailsWindow()"><mat-icon class="text-2xl text-zinc-600" fontIcon="chevron_right"></mat-icon></button> -->
  </li>
</ul>