<!-- <div>
  <label>Show:</label>
  <select [(ngModel)]="filterOption">
    <option value="all">All</option>
    <option value="completed">Completed</option>
    <option value="pending">Pending</option>
  </select>
</div> -->

<mat-form-field>
  <mat-label>Show</mat-label>
  <mat-select [(ngModel)]="filterOption">
    <mat-option value="all">All</mat-option>
    <mat-option value="completed">Completed</mat-option>
    <mat-option value="pending">Pending</mat-option>
  </mat-select>
</mat-form-field>

<div>
  <p>Items found: {{ taskHandler.getCounter(filterOption) }}</p>
</div>

<ul>
  <li *ngFor="let item of taskHandler.getFilteredItems(filterOption)">
    <input type="checkbox" [(ngModel)]="item.completed">
    <span>{{ item.name }}</span>
    <button (click)="taskHandler.removeItem(item)"><span class="material-icons">chevron_right</span></button>
  </li>
</ul>