<div class="flex flex-col mx-32 min-h-screen">

  <div class="flex justify-center m-10 font-bold text-4xl font-mono text-sky-700">
    ToDoList
  </div>

  <div class="flex flex-row">
    <div class="w-1/4"></div>

    <div class="w-2/4">
      <app-activity-form></app-activity-form>
      <app-activity-list></app-activity-list>
      <app-item-details></app-item-details>
    </div>

    <div class="w-1/4"></div>
    <!-- Mio acronimo (Antonio Di Marzio) -->
    <p class="text-xs font-mono flex justify-end absolute bottom-0 right-12">ADM</p>
  </div>

</div>