<!-- Form dettaglio attività -->
<div *ngIf="taskHandler.indexSelectedItem !== -1" class="flex flex-col mx-4">
  
  <!-- Modifica nome attività -->
  <mat-form-field>
    <mat-label>Activity Name</mat-label>
    <input matInput [(ngModel)]="newName">
  </mat-form-field>

  <!-- Modifica stato attività (completed/pending) -->
  <div>
    <mat-checkbox [(ngModel)]="newStatus">Completed</mat-checkbox>
  </div>

  <!-- Modifica quantità -->
  <mat-form-field>
    <mat-label>Q.tà</mat-label>
    <input matInput [(ngModel)]="newQta" placeholder="Ex. 2">
  </mat-form-field>

  <!-- Modifica priorità -->
  <mat-form-field>
    <mat-label>Priority</mat-label>
    <mat-select [(ngModel)]="newPriority">
        <mat-option value="high">High</mat-option>
        <mat-option value="low">Low</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Modifica data -->
  <mat-form-field class="example-form-field">
    <mat-label>Choose a date</mat-label>
    <input matInput [(ngModel)]="newDate" [matDatepicker]="datepicker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>

  <!-- Modifica note -->
  <mat-form-field>
      <mat-label>Notes</mat-label>
      <textarea matInput [(ngModel)]="newNotes"></textarea>
  </mat-form-field>

  <!-- Bottoni salvataggio e annullamento dettaglio attività -->
  <div class="flex flex-row justify-between">
    <button mat-raised-button class="w-32" color="warn" (click)="saveItem()">Save</button>
    <button mat-raised-button class="w-32" (click)="keepItem()">Cancel</button>
  </div>
  
</div>